node_modules/
dist/
.turbo/
.idea/
.vscode/
.env
.env.local
.env.*.local
package-lock.json
pnpm-lock.yaml
yarn.lock
/.cache
/.turbo
/out
/.vercel
/.next
coverage/
*.log
*.tgz
/.pnp
/.pnp.js
/.DS_Storenode_modules

.vercel
